<HTML>

  <head>

  </head>

  <body>
    
    <div class="card bg-dark text-black">
      <img class="card-img" src="desktop.jpeg" alt="Card image">
      <div class="card-img-overlay">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      <h1 class="card-title"> About </h1>
      <p class="paragraph"> We beleive in getting stuff done and being effective while we do it. Use our app to to increase your daily productivty and create custom To-Do lists.
    
    </div>
  </div>    
    
      
  </body>


</html>

