<HTML>

  <head>

  </head>

  <body>
    
    <div class="card bg-dark text-white">
      <img class="card-img" src="desk-notebook-office-grey.jpg" alt="Card image">
      <div class="card-img-overlay">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      <h1 class="card-title"> Join The To-Do Revolution! </h1>
      <a href="/tasks" id="hbutton" class="btn btn-lg btn-primary" role="button" aria-pressed="true">Get *ish Done</a>
    
    </div>
  </div>    
    
      
  </body>


</html>

